google/**
**/logs/**
**/test/**
**/test*/**
**/doc*/**
**/hdfs/namenode/**
**/hdfs/datanode/**
**/example*/**
**/metastore_db/**
**/tutorial*/**
*.log
*.cmd
spark-1.1.1/assembly/target/scala-2.10/spark-assembly-1.1.1-hadoop2.5.2.jar
